-- FULL DATABASE SCHEMA FOR ALL DEPARTMENTS
-- Run this in your Supabase SQL Editor

-- --- CIVIL ---
CREATE TABLE IF NOT EXISTS public."CIVIL" (
    rollno VARCHAR(20) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    department VARCHAR(50) DEFAULT 'CIVIL',
    status BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.civil_feedback_log (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    roll_no VARCHAR(20),
    student_name VARCHAR(255),
    department VARCHAR(50) DEFAULT 'CIVIL',
    answers JSONB NOT NULL,
    strengths TEXT,
    improvements TEXT,
    general_strengths TEXT,
    general_improvements TEXT,
    general_admin TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.civil_feedback (
    id SERIAL PRIMARY KEY,
    question_code VARCHAR(10) UNIQUE,
    category VARCHAR(50),
    criteria TEXT,
    very_good_4 INTEGER DEFAULT 0,
    good_3 INTEGER DEFAULT 0,
    average_2 INTEGER DEFAULT 0,
    below_average_1 INTEGER DEFAULT 0,
    total_count INTEGER DEFAULT 0,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Initialize Aggregate Data for CIVIL

GRANT ALL ON TABLE public."CIVIL" TO service_role;
GRANT ALL ON TABLE public.civil_feedback_log TO service_role;
GRANT ALL ON TABLE public.civil_feedback TO service_role;

-- --- MECH ---
CREATE TABLE IF NOT EXISTS public."MECH" (
    rollno VARCHAR(20) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    department VARCHAR(50) DEFAULT 'MECH',
    status BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.mech_feedback_log (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    roll_no VARCHAR(20),
    student_name VARCHAR(255),
    department VARCHAR(50) DEFAULT 'MECH',
    answers JSONB NOT NULL,
    strengths TEXT,
    improvements TEXT,
    general_strengths TEXT,
    general_improvements TEXT,
    general_admin TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.mech_feedback (
    id SERIAL PRIMARY KEY,
    question_code VARCHAR(10) UNIQUE,
    category VARCHAR(50),
    criteria TEXT,
    very_good_4 INTEGER DEFAULT 0,
    good_3 INTEGER DEFAULT 0,
    average_2 INTEGER DEFAULT 0,
    below_average_1 INTEGER DEFAULT 0,
    total_count INTEGER DEFAULT 0,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Initialize Aggregate Data for MECH

GRANT ALL ON TABLE public."MECH" TO service_role;
GRANT ALL ON TABLE public.mech_feedback_log TO service_role;
GRANT ALL ON TABLE public.mech_feedback TO service_role;

-- --- EEE ---
CREATE TABLE IF NOT EXISTS public."EEE" (
    rollno VARCHAR(20) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    department VARCHAR(50) DEFAULT 'EEE',
    status BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.eee_feedback_log (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    roll_no VARCHAR(20),
    student_name VARCHAR(255),
    department VARCHAR(50) DEFAULT 'EEE',
    answers JSONB NOT NULL,
    strengths TEXT,
    improvements TEXT,
    general_strengths TEXT,
    general_improvements TEXT,
    general_admin TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.eee_feedback (
    id SERIAL PRIMARY KEY,
    question_code VARCHAR(10) UNIQUE,
    category VARCHAR(50),
    criteria TEXT,
    very_good_4 INTEGER DEFAULT 0,
    good_3 INTEGER DEFAULT 0,
    average_2 INTEGER DEFAULT 0,
    below_average_1 INTEGER DEFAULT 0,
    total_count INTEGER DEFAULT 0,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Initialize Aggregate Data for EEE

GRANT ALL ON TABLE public."EEE" TO service_role;
GRANT ALL ON TABLE public.eee_feedback_log TO service_role;
GRANT ALL ON TABLE public.eee_feedback TO service_role;

-- --- ECE ---
CREATE TABLE IF NOT EXISTS public."ECE" (
    rollno VARCHAR(20) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    department VARCHAR(50) DEFAULT 'ECE',
    status BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.ece_feedback_log (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    roll_no VARCHAR(20),
    student_name VARCHAR(255),
    department VARCHAR(50) DEFAULT 'ECE',
    answers JSONB NOT NULL,
    strengths TEXT,
    improvements TEXT,
    general_strengths TEXT,
    general_improvements TEXT,
    general_admin TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.ece_feedback (
    id SERIAL PRIMARY KEY,
    question_code VARCHAR(10) UNIQUE,
    category VARCHAR(50),
    criteria TEXT,
    very_good_4 INTEGER DEFAULT 0,
    good_3 INTEGER DEFAULT 0,
    average_2 INTEGER DEFAULT 0,
    below_average_1 INTEGER DEFAULT 0,
    total_count INTEGER DEFAULT 0,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Initialize Aggregate Data for ECE

GRANT ALL ON TABLE public."ECE" TO service_role;
GRANT ALL ON TABLE public.ece_feedback_log TO service_role;
GRANT ALL ON TABLE public.ece_feedback TO service_role;

-- --- CSE ---
CREATE TABLE IF NOT EXISTS public."CSE" (
    rollno VARCHAR(20) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    department VARCHAR(50) DEFAULT 'CSE',
    status BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.cse_feedback_log (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    roll_no VARCHAR(20),
    student_name VARCHAR(255),
    department VARCHAR(50) DEFAULT 'CSE',
    answers JSONB NOT NULL,
    strengths TEXT,
    improvements TEXT,
    general_strengths TEXT,
    general_improvements TEXT,
    general_admin TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.cse_feedback (
    id SERIAL PRIMARY KEY,
    question_code VARCHAR(10) UNIQUE,
    category VARCHAR(50),
    criteria TEXT,
    very_good_4 INTEGER DEFAULT 0,
    good_3 INTEGER DEFAULT 0,
    average_2 INTEGER DEFAULT 0,
    below_average_1 INTEGER DEFAULT 0,
    total_count INTEGER DEFAULT 0,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Initialize Aggregate Data for CSE

GRANT ALL ON TABLE public."CSE" TO service_role;
GRANT ALL ON TABLE public.cse_feedback_log TO service_role;
GRANT ALL ON TABLE public.cse_feedback TO service_role;

-- --- IT ---
CREATE TABLE IF NOT EXISTS public."IT" (
    rollno VARCHAR(20) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    department VARCHAR(50) DEFAULT 'IT',
    status BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.it_feedback_log (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    roll_no VARCHAR(20),
    student_name VARCHAR(255),
    department VARCHAR(50) DEFAULT 'IT',
    answers JSONB NOT NULL,
    strengths TEXT,
    improvements TEXT,
    general_strengths TEXT,
    general_improvements TEXT,
    general_admin TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.it_feedback (
    id SERIAL PRIMARY KEY,
    question_code VARCHAR(10) UNIQUE,
    category VARCHAR(50),
    criteria TEXT,
    very_good_4 INTEGER DEFAULT 0,
    good_3 INTEGER DEFAULT 0,
    average_2 INTEGER DEFAULT 0,
    below_average_1 INTEGER DEFAULT 0,
    total_count INTEGER DEFAULT 0,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Initialize Aggregate Data for IT

GRANT ALL ON TABLE public."IT" TO service_role;
GRANT ALL ON TABLE public.it_feedback_log TO service_role;
GRANT ALL ON TABLE public.it_feedback TO service_role;

-- --- CT ---
CREATE TABLE IF NOT EXISTS public."CT" (
    rollno VARCHAR(20) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    department VARCHAR(50) DEFAULT 'CT',
    status BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.ct_feedback_log (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    roll_no VARCHAR(20),
    student_name VARCHAR(255),
    department VARCHAR(50) DEFAULT 'CT',
    answers JSONB NOT NULL,
    strengths TEXT,
    improvements TEXT,
    general_strengths TEXT,
    general_improvements TEXT,
    general_admin TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.ct_feedback (
    id SERIAL PRIMARY KEY,
    question_code VARCHAR(10) UNIQUE,
    category VARCHAR(50),
    criteria TEXT,
    very_good_4 INTEGER DEFAULT 0,
    good_3 INTEGER DEFAULT 0,
    average_2 INTEGER DEFAULT 0,
    below_average_1 INTEGER DEFAULT 0,
    total_count INTEGER DEFAULT 0,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Initialize Aggregate Data for CT

GRANT ALL ON TABLE public."CT" TO service_role;
GRANT ALL ON TABLE public.ct_feedback_log TO service_role;
GRANT ALL ON TABLE public.ct_feedback TO service_role;

-- --- ICE ---
CREATE TABLE IF NOT EXISTS public."ICE" (
    rollno VARCHAR(20) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    department VARCHAR(50) DEFAULT 'ICE',
    status BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.ice_feedback_log (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    roll_no VARCHAR(20),
    student_name VARCHAR(255),
    department VARCHAR(50) DEFAULT 'ICE',
    answers JSONB NOT NULL,
    strengths TEXT,
    improvements TEXT,
    general_strengths TEXT,
    general_improvements TEXT,
    general_admin TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS public.ice_feedback (
    id SERIAL PRIMARY KEY,
    question_code VARCHAR(10) UNIQUE,
    category VARCHAR(50),
    criteria TEXT,
    very_good_4 INTEGER DEFAULT 0,
    good_3 INTEGER DEFAULT 0,
    average_2 INTEGER DEFAULT 0,
    below_average_1 INTEGER DEFAULT 0,
    total_count INTEGER DEFAULT 0,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Initialize Aggregate Data for ICE

GRANT ALL ON TABLE public."ICE" TO service_role;
GRANT ALL ON TABLE public.ice_feedback_log TO service_role;
GRANT ALL ON TABLE public.ice_feedback TO service_role;

-- --- UNIFIED VIEWS ---
CREATE OR REPLACE VIEW public.all_students AS
SELECT rollno, name, department, status, created_at FROM public."CIVIL"
UNION ALL
SELECT rollno, name, department, status, created_at FROM public."MECH"
UNION ALL
SELECT rollno, name, department, status, created_at FROM public."EEE"
UNION ALL
SELECT rollno, name, department, status, created_at FROM public."ECE"
UNION ALL
SELECT rollno, name, department, status, created_at FROM public."CSE"
UNION ALL
SELECT rollno, name, department, status, created_at FROM public."IT"
UNION ALL
SELECT rollno, name, department, status, created_at FROM public."CT"
UNION ALL
SELECT rollno, name, department, status, created_at FROM public."ICE";

CREATE OR REPLACE VIEW public.all_feedback_logs AS
SELECT id, roll_no, student_name, department, answers, strengths, improvements, created_at FROM public.civil_feedback_log
UNION ALL
SELECT id, roll_no, student_name, department, answers, strengths, improvements, created_at FROM public.mech_feedback_log
UNION ALL
SELECT id, roll_no, student_name, department, answers, strengths, improvements, created_at FROM public.eee_feedback_log
UNION ALL
SELECT id, roll_no, student_name, department, answers, strengths, improvements, created_at FROM public.ece_feedback_log
UNION ALL
SELECT id, roll_no, student_name, department, answers, strengths, improvements, created_at FROM public.cse_feedback_log
UNION ALL
SELECT id, roll_no, student_name, department, answers, strengths, improvements, created_at FROM public.it_feedback_log
UNION ALL
SELECT id, roll_no, student_name, department, answers, strengths, improvements, created_at FROM public.ct_feedback_log
UNION ALL
SELECT id, roll_no, student_name, department, answers, strengths, improvements, created_at FROM public.ice_feedback_log;

GRANT SELECT ON public.all_students TO service_role;
GRANT SELECT ON public.all_feedback_logs TO service_role;

